.anchor-pane {
    -fx-background-image: url("../Images/Computer.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

.root {
    -fx-background-image: url("../Images/Computer.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}